 


{% block youtube_url_code_widget %}
    <div class="input-group">

         {{ form_widget(form, {'attr': {'data-toggle': 'youtubecode'}}) }}

        <span class="input-group-addon">
            <span class="fa fa-youtube " aria-hidden="true"></span>
        </span>
    </div>
    <div class="form_youtube_info">
        <img height="50px;" src="https://s20352.pcdn.co/wp-content/uploads/2018/03/2000px-YouTube_social_white_square_2017.svg_-1-1024x778.png">
    </div>
{% endblock %}


